/*

style_ht.css:秦編集用スタイルシート

Author:秦 伊吹
Version:0.0.1
Created:2021.05.25
updated:2021.05.25

*/

footer{
    background-color:rgb(194, 191, 191);
}

.copyright{
    text-align:center;
    font-size:10px;
    
}

.ulfooter{
    list-style:none;
    font-size:12px;
    padding:5px;
}


div.images{
    width:100%;
    height:70vh !important;
    background-image:url("../../images/yam0080-009.jpg");
    background-size:100%;
    background-position:center;
}

.inimages{
    font-size:50px;
    text-shadow: 6px 4px 2px azure;
    font-family:serif;
    font-weight:bold;
    padding-left:10px;
}

