/*

style_it.css:伊藤編集用スタイルシート

Author:伊藤 明洋
Version:0.0.1
Created:2021.05.25
updated:2021.05.25

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-height: 8vh; /* ナビゲーションバーの立幅 */
    --nav-background: rgb(180, 180, 180); /*ナビゲーションバーの背景色*/
}

nav {
    display: flex;
    padding: 0 50px;
    align-items: center;
    width: 100%;
    height: var(--nav-height);
    background: var(--nav-background);
}

.title h1 {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* nav-links */

.nav-links {
    display: flex;
    height: var(--nav-height);
    align-items: center;
    margin-left: auto;
}

.nav-links li {
    list-style: none;
    margin: 0 15px;
    height: var(--nav-height);
    line-height: var(--nav-height);
    text-align: center;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(80, 80, 80);
    position: relative;
}

.head{
    display: flex;
    padding: 0 0px;
    align-items: center;
    width: 100%;
    background-color:rgb(161, 232, 253);
    flex-wrap:nowrap;
}
.create{
    text-align:left;
    margin:auto;
    margin-right:10px;
}
body.logined .create{
    visibility:hidden;
}
.menu{
    text-align:left;
    margin:auto;
    margin-right:10px;
}

/* menu */

.menu {
    cursor: pointer;
    background: var(--nav-background);
    border: none;
    outline: none;
    display: none;
}

.menu .bar {
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 5px;
    opacity: 1;
    visibility: visible;
    transition: 0.5s ease;
    transform-origin: left;
}

.menu .bar1 {
    margin-bottom: 5px;
}

.menu .bar3 {
    margin-top: 5px;
}

.menu.toggle .bar1 {
    transform-origin: left;
    transform: rotate(45deg);
}

.menu.toggle .bar2 {
    opacity: 0;
    visibility: hidden;
}

.menu.toggle .bar3 {
    transform-origin: left;
    transform: rotate(-45deg);
}

/* responsive */

@media screen and (max-width: 800px) {
    .nav-links {
        flex-direction: column;
        position:absolute;
        top: 90px;
        left: 100%;
        width: 250px;
        height: 18em;
        background: var(--nav-background);
        margin-top: var(--nav-height);
        transition: 0.5s ease-out;
        display:none;
    }
    .nav-links li {
         height: var(--nav-height);
         line-height: var(--nav-height);
         text-align: center;
         width: 100%;
         display: block;
    }
    .menu {
         display: block;
         margin-left: auto;
    }

    .menu.toggle + .nav-links {
        /*width: 250px;*/
        transform: translateX(-100%);
         display:block;
    }
    nav{
        /*display:none;*/
    }
}