/*

style_it.css:伊藤編集用スタイルシート

Author:伊藤 明洋
Version:0.0.1
Created:2021.05.25
updated:2021.05.25

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-height: 8vh; /* ナビゲーションバーの立幅 */
    --nav-background: rgb(255, 82, 120); /*ナビゲーションバーの背景色*/
}

nav {
    display: flex;
    padding: 0 50px;
    align-items: center;
    width: 100%;
    height: var(--nav-height);
    background: var(--nav-background);
}

.title h1 {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* nav-links */

.nav-links {
    display: flex;
    height: var(--nav-height);
    align-items: center;
    margin-left: auto;
}

.nav-links li {
    list-style: none;
    margin: 0 15px;
    height: var(--nav-height);
    line-height: var(--nav-height);
    text-align: center;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(99, 99, 99);
    position: relative;
}

.head{
    display: flex;
    padding: 0 0px;
    align-items: center;
    width: 100%;
    background-color:rgb(198, 255, 255);
    flex-wrap:nowrap;
}
.create{
    text-align:left;
    margin:auto;
    margin-right:10px;
}
body.logined .create{
    visibility:hidden;
}