/*

style_hn.css:花岡編集用スタイルシート

Author:花岡 宗史
Version:0.0.1
Created:2021.05.25
updated:2021.05.25

*/

button{
    background:blue;
    color:#fff;
    border:none;
    position:relative;
    height:40px;
    font-size:1.2em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:blue;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: blue;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

/* myPage */
.mile{
    padding: 0.5em 1em;
    margin: 2em 0;
    margin-left:10px;
    margin-right:10px;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    width:30%;
}
.MENU{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    width:30%;
}
.user{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    width:30%;
    
}
.userData{
    list-style: none;
}
.rank{
    list-style: none;
}
.inLineBrock{
    display: inline-block;  
    vertical-align: top;
    
}
.matome{
    width: 80%;
    margin:auto;
}