/*

style_hn.css:花岡編集用スタイルシート

Author:花岡 宗史
Version:0.0.1
Created:2021.05.25
updated:2021.05.25

*/

button{
    background:blue;
    color:#fff;
    border:none;
    position:relative;
    height:40px;
    font-size:1.2em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:blue;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: blue;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

